/* Import Basic Files
---------------------------------------------------------------------------*/
@import url(../fonts/TourDeForce-GalebBold.otf);
@import url(../fonts/TourDeForce-GalebRegular.otf);
@import url(font-awesome.min.css);


/*
Template Name: MilPro Admin
Description: Admin Section
Version: 1.0
Author: Dreamr

*/

/* Fonts */
@font-face {
    font-family: Bold;
    src: url(../fonts/TourDeForce-GalebBold.otf);
}
@font-face {
    font-family: Regular;
    src: url(../fonts/TourDeForce-GalebRegular.otf);
}
.bold{
    font-family: Bold;
}


/* ==========================================================================
 General
========================================================================== */

body {
    margin: 0;
    padding: 0;
    color: #9ea6a4;
    overflow-x: hidden;
    background-color: #ECECEC;
    -webkit-text-size-adjust: 100%;
    font: 14px 'Regular', Helvetica, Arial, sans-serif;
	line-height:22px;
}

a { color: #76889a; }
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    color: #00C760;
    text-decoration: none;
}


/* Theme
---------------------------------------------------------------------------*/
.main-wrapper{
	margin-top: 15px;
}
.login{
	width: 40vw;
	min-width: 510px;
	position:absolute;
	left: 30vw;
	top: 20vh;
    background-color: #ECECEC;
	padding:7vh 0;
}
.login .img-holder{
	max-width: 200px;
	margin:0 auto;	
}
main{
	padding-bottom:50px;
	float:left;
	width:100%;
}


/* Colors
---------------------------------------------------------------------------*/
.grey-bg{
	background-color:	#ECECEC!important;
}
.dark-grey-bg{
	background-color:	#393A42;
}
.light-grey-bg{
	background-color:	#9496A2;
}
.green-bg{
	background-color:	#00C760;
}
.white-bg{
	background-color:	#fff;
}
.dark-grey{
	color:	#393A42;
}
.light-grey{
	color:	#9496A2;
}
.green{
	color:	#00C760;
}
.white{
	color:	#fff;
}

/* Buttons
---------------------------------------------------------------------------*/
.btn{
	padding:10px 20px;
	border-radius:2px;
	font-weight:normal;
	text-align:center;
}
.btn.white:hover{
	color:	#fff;
}
.btn:hover{
	opacity:0.8;
}

/* Headings
---------------------------------------------------------------------------*/
header h2{
	padding:15px 10px; 
	font-size:18px;	
	margin-bottom: 18px;
}

/* Navigation
---------------------------------------------------------------------------*/
.navbar {
    padding: 0 15px;
}
.navbar-brand {
    padding: 15px 0;
}
.navbar-nav>li {
    padding-top: 22px;
	margin-left:15px;
}
.navbar-nav>li>a.btn {
    margin-top: -6px ;
	padding:6px 24px;
	line-height: 22px;
	margin-left: -8px;
}
.navbar-brand img { 
	max-height: 35px; 
	margin-left: -8px;
}

/* Popups
---------------------------------------------------------------------------*/
.box-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.pop-up {
    position: fixed;
    padding: 2em;
    left: calc(50vw - 300px);
    width: 50vw;
    min-width: 300px;
    max-width: 600px;
    z-index: 99999;
    top: 10vh;
    overflow: auto;
	background-color:#ECECEC;
}
.close {
    opacity: 1;
    text-shadow: none;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 0.3em;
    color: #c7c7c7;
    z-index: 9;
    padding-left: 30px;
    min-height: 40px;
	display:none;
}
.pop-up>a.btn{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding-top:11px;
	padding-bottom:11px;
}
.pop-up h3{
	margin-top:0;
	margin-bottom: 30px;
	font-family:"Bold";	
	text-transform:capitalize;
}
.text-holder{
	width: calc(100% + 4em);
	float:left;
	text-align:center;
	background:	#e6e6e6;
	padding-top:15px;
	margin:0 -2em;
}
.product-holder{
	padding:9px 8px;
	margin-right:7px;
	border: 1px solid #d6d6d6;
}
.product-holder img{
	margin-right: 5px;
}
.rounded{
	border-radius: 50%;
    width: 21px;
    height: 21px;
    text-align: center;
}


/* Dropdown
---------------------------------------------------------------------------*/
.dropdown-holder{
	padding:10px 0;
}
.dropdown-toggle{
	font-size:16px;
	font-family:"Bold";
	padding-left: 12px;
}
.dropdown-toggle i{
	font-size:12px;
	float:right;
	margin-top:5px;
	margin-left:5px;
}
@-moz-document url-prefix() { 
  .dropdown-toggle i{
		float: none;
	}
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.dropdown-menu {
    left: 10px;
	border-radius: 0;
}
.dropdown-item:hover {
    background: #9ea6a4;
}

/* Table
---------------------------------------------------------------------------*/
thead>tr>th{
	height: 59px;
}
tbody>tr>td{
	line-height: 38px!important;
	color:	#393A42;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}
.table>thead>tr>th {
    border-bottom: none;
	vertical-align: top;
}

/* Forms
---------------------------------------------------------------------------*/
.form-control{
	border-radius: 0;
	border:none;
	height:44px;
}
.form-control:focus {
    border-color: #9496a2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(148, 150, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(148, 150, 162);;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
    background-color: #fff;
    opacity: 1;
}
::-webkit-input-placeholder { line-height:25px}
:-moz-placeholder { line-height:25px}
:-ms-input-placeholder { line-height:25px}
div.error_message {
    background:#ffffff;
    border:1px solid #393a42;
    position: absolute;
    text-align: center;
    width: 300px;
    color:#ff0000;
    border-radius: 10px;
    padding:20px;
    margin-left: 42%;
    margin-top: 7px;
    display:none;
}
div.success_message {
    background:#ffffff;
    border:1px solid #393a42;
    position: absolute;
    text-align: center;
    width: 300px;
	color:#00c760;
    border-radius: 10px;
    padding:20px;
    margin-left: 42%;
    margin-top: 7px;
    display:none;
}

/* Datepicker
---------------------------------------------------------------------------*/
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{
	background-color: #00c760;
	background-image: none;	
}
/* Footer
---------------------------------------------------------------------------*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #ECECEC;
}
/* General layout
---------------------------------------------------------------------------*/
.no-padding{
	padding:0!important;	
}
.no-padding-left{
	padding-left:0;	
}
.no-padding-right{
	padding-right:0;	
}
.margin-bottom-2{
	margin-bottom:2vh;
}
.margin-bottom-5{
	margin-bottom:5vh;
}

/* Mac Fixes
---------------------------------------------------------------------------*/
body.mac{
	line-height:26px;	
}
.mac .navbar-nav>li>a.btn{
	padding-top: 8px;
	padding-bottom: 4px;	
}
.mac a.btn{
	padding-top: 12px;
}

/* ==========================================================================
   27. Responsive
========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}




/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 991px) and (min-width: 768px) {

}




/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
}



/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {
}




/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
}